.search-box {
    width: 100%;
    min-height: 60px;
    background-color: #fefefe;
    /* margin-top: 30px; */
    padding: 10px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

form {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

input {
    padding-left: 25px;
    width: 70%;
    border: none;
    font-size: 15px;
}

.search-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0;
    background-color: #05ce81;
}

.search-btn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.fa-search {
    color: #fefefe;
}

/* table */
.table-container {
    margin-top: 30px;
    overflow-x: scroll;
    background-color: #fefefe;
    border-radius: .5rem;
    min-height: 200px;
    height: auto;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    position: relative;
}
.table-container::after{
    content: "No Product Yet";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container::-webkit-scrollbar {
    visibility: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 2rem;
}
th{
    border-radius: 1rem 1rem 0 0;
}
th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    /* background-color: #fefefe; */
}

th {
    font-weight: bold;
    height: 80px;
}

th:first-child,
td:first-child {
    width: 40%;
}

.promote-btn {
    padding: 6px 10px;
    border: 1px solid #05ce81;
    background-color: transparent;
    color: #05ce81;
    font-weight: bold;
}

tr {
    /* background-color: red; */
    height: 70px;
}


@media screen and (max-width:786px) {
    .search-box {
        height: 50px;
        padding: 5px;
    }

    table {
        width: 750px;
    }
}